<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/latest/phpunit.xsd"
        backupGlobals="false"
        bootstrap="vendor/autoload.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        cacheResult="false"
>
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
